.row-layout {
    display: flex;
}
.child-view-container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.list {
    height: max-content;
    flex-shrink: 0;
}
.avatar {
    --background: none;
}
.icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
}
