.row-layout {
    display: flex;
}
.data-grid-layouts-container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 32px;
    height: 100%;
}
.grid-plus {
    min-width: 600px;
    min-height: 300px;
    flex-grow: 1;
    flex-basis: 0;
}
